.mySwiper .swiper-pagination {
    margin-top: 20px; 
    position: unset;
  }

  .mySwiper .swiper-pagination-bullet {
    background-color: #43BBFF; 
    opacity:43% ;
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: #43BBFF; 
    opacity: 100%;
    width: 31px;
    height: 9px;
    border-radius: 24px;
  }
  